/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

h1 {
  @apply text-2xl;
}

a {
  @apply text-blue-600 underline;
}

th {
  @apply border
}

td {
  @apply border px-4 py-2 text-sm;
}

@tailwind utilities;
